.env
myenv
.idea
db.sqlite3
.Log
.Files
__pycache__/
.BEES_Chat\API\__pycache__
BEES_Chat/API/__pycache__/__init__.cpython-311.pyc
BEES_Chat/API/__pycache__/admin.cpython-311.pyc
BEES_Chat/API/__pycache__/apps.cpython-311.pyc
BEES_Chat/API/__pycache__/serializers.cpython-311.pyc
BEES_Chat/API/__pycache__/urls.cpython-311.pyc
BEES_Chat/API/__pycache__/views.cpython-311.pyc
BEES_Chat/API/migrations/__pycache__/__init__.cpython-311.pyc
BEES_Chat/API/SourceCode/__pycache__/__init__.cpython-311.pyc
BEES_Chat/API/SourceCode/__pycache__/azure_no_sql.cpython-311.pyc
BEES_Chat/API/SourceCode/__pycache__/BEES_QA.cpython-311.pyc
BEES_Chat/API/SourceCode/__pycache__/Log.cpython-311.pyc
BEES_Chat/BEES_Chat/__pycache__/__init__.cpython-311.pyc
BEES_Chat/BEES_Chat/__pycache__/settings.cpython-311.pyc
BEES_Chat/BEES_Chat/__pycache__/urls.cpython-311.pyc
BEES_Chat/BEES_Chat/__pycache__/wsgi.cpython-311.pyc
BEES_CHAT_UI/Files
BEES_CHAT_UI/Log