{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Login {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Page content -->
    <div class="container mt--8 pb-1">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary border-0 mb-0">
            <div class="card-header bg-transparent pb-3">
              <div class="text-muted text-center mt-2 mb-3"><large>Sign in</large></div>
              
              <div class="text-muted text-center">
                  <large>Enter your credentials</large>
              </div>
            </div>
            <div class="card-body px-lg-3 py-lg-3">
              
              <form role="form" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                
                {% if form.non_field_errors %}
            <span class="text-danger">
                {{form.non_field_errors.as_ul}}
            </span>
        {% endif %}
                <div class="form-group">
                  <label for="{{form.username.id_for_label}}">Username</label>
                  <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                  <input type="text" name="{{form.username.name}}" class="form-control" value="{{form.username.value}}">
                </div>
                {% if form.password.errors%}
                  <span class="text-danger">{{form.username.errors}}</span>
                  {% endif %}
              </div>
  
              <div class="form-group">
                <label for="{{form.password.id_for_label}}">Password</label>
                <div class="input-group input-group-merge input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input type="password" name="{{form.password.name}}" class="form-control" value="{{form.password.value}}">
                </div>
                {% if form.password.errors%}
                      <span class="text-danger">{{form.password.errors}}</span>
                  {% endif %}
              </div>
              <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="remember_me" name="remember_me">
                  <label class="form-check-label" for="remember_me">Remember me</label>
              </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4">Sign in</button>
                </div>
              </form>
            </div>
          </div>
          
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}




