{% extends 'layouts/base.html' %} 
{% block title %} User Management {% endblock title%}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>

<style>
  .error {
    color: red;
} 
</style>
{% endblock stylesheets %} 
{% block content %}

<!-- Header -->
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
    </div>
  </div>
</div>
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <!-- Card header -->
        <div class="card-header border-0">
            <div class="d-flex justify-content-between align-items-center">
              <h2 class="mb-0">User Details</h2>
              <button class="btn btn-primary" id="createUser">Create User <i class="fa fa-user-plus"></i></button>
          </div>
        </div>
       <br>
        <table id="userDetails" class="display">
          <thead>
            <tr>
              <th>Username</th>
              <th>Email</th>
              <th>Role</th>
              <th>Status</th>
              <th>Created Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <!-- Populate this with chat history data -->
          </tbody>
        </table>
      </div>
    </div>
    <!-- Dark table -->
  </div>

  <!-- Edit User Modal -->
  <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger"  id="userModalLabel">Update User Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="editUserForm">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" name="username" required="true  ">
              <span class="error text-danger" id="username_e_error"></span>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" required>
              <span class="error text-danger" id="email_e_error"></span>
            </div>
            <div class="mb-3">
              <label for="role" class="form-label">Role</label>
              <select class="form-control" name="{{form.role.name}}" id="role">
                <option value="" {% if not form.role.value %}selected{% endif %}>Please select role</option>
                    {% for value, label in form.role.field.choices %}
                        <option value="{{ value }}" {% if form.role.value == value %}selected{% endif %}>{{ label }}</option>
                    {% endfor %}
            </select>
            <span class="error text-danger" id="role_e_error"></span>
            </div>
            <div class="mb-3">
              <label for="status" class="form-label">Status</label>
              <select class="form-control" id="status" name="status" required>
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
              </select>
              <span class="error text-danger" id="status_e_error"></span>
            </div>
            <input type="hidden" id="userId" name="userId">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary" id="saveUserDetails">Save changes</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="createUserModal" tabindex="-1" aria-labelledby="createUserModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger"  id="createUserModal">Create User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="createUserForm">
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input type="text" name="{{form.username.name}}" id="username_c" placeholder="Enter your username" class="form-control" value="{{form.username.value}}">
              </div>
              <span class="error text-danger" id="username_error"></span>
            </div>
            

            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input type="email" name="{{form.email.name}}" id="email_c" class="form-control" placeholder="Enter your email" value="{{form.email.value}}">
              </div>
              <span class="error text-danger" id="email_error"></span>
            </div>
            

            <div class="form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                <select class="form-control" name="{{form.role.name}}" id="role_c">
                  <option value="" {% if not form.role.value %}selected{% endif %}>Please select role</option>
                      {% for value, label in form.role.field.choices %}
                          <option value="{{ value }}" {% if form.role.value == value %}selected{% endif %}>{{ label }}</option>
                      {% endfor %}
              </select>
              </div>
              <span class="error text-danger" id="role_error"></span>
            </div>

            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input type="password" name="{{form.password1.name}}" id="password1_c" placeholder="Enter your password" class="form-control" value="{{form.password1.value}}">
              </div>
              <span class="error text-danger" id="password1_error"></span>
            </div>
            

            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input type="password" name="{{form.password2.name}}" id="password2_c" placeholder="Confirm Password" class="form-control" value="{{form.password2.value}}">
              </div>
              <span class="error text-danger" id="password2_error"></span>
            </div>
             

            <div class="text-center">
              <button type="button" class="btn btn-primary mt-4" id="createAccount">Create account</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger"  id="userModalLabel">Delete Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this user?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cancel
          </button>
          <button type="button" class="btn btn-danger" id="confirmDeleteButton">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Reset Password  Modal -->
  <div class="modal fade" id="resetPasswordModal" tabindex="-1" aria-labelledby="resetPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="resetPasswordModalLabel">Reset Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="resetPasswordForm">
                    <input type="hidden" id="user_id" name="user_id">
                    <div class="form-group">
                        <label for="password">New Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm Password</label>
                        <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="ResetPasswordButton">Reset Password</button>
            </div>
        </div>
    </div>
</div>

  {% endblock content %}

  <!-- Specific JS goes HERE -->
  {% block javascripts %}
  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function() {
        
        var table=$('#userDetails').DataTable({
          dom: 'Bfrtip',
          buttons: [
              
              {
                  extend: 'excelHtml5',
                  text: 'Export Excel',
                  exportOptions: {
                    columns: ':not(:last-child)' // Exclude the last column (Action column)
                }
              },
              {
                extend: 'pdfHtml5',
                text: 'Export PDF',
                exportOptions: {
                  columns: ':not(:last-child)' // Exclude the last column (Action column)
              }
            }
          ],
            "ajax": {
                    "url": "{% url 'getUserData' %}",
                    "data": function(d) {
                        // Add date filter parameters to the AJAX request data
                        d.fromDate = $('#from-date').val();
                        d.toDate = $('#to-date').val();
                    },
                    "dataSrc": function(json) {
                        // Modify the JSON data to handle nested rows for each response
                        let newData = [];

                        json.forEach(function(item) {

                          newData.push({
                            "username": item.username,
                            "email": item.email,
                            "role": item.role,
                            "status": item.is_active ? 'Active' : 'Inactive',
                            "created_date": new Date(item.date_joined).toLocaleDateString(),
                            "action": `
                        <button class="btn btn-sm btn-primary edit-btn" data-id="${item.id}" data-username="${item.username}" data-email="${item.email}" data-role="${item.role}" data-status="${item.is_active ? 'Active' : 'Inactive'}">
                                <i class="fas fa-edit"></i>
                            </button>
                        <button class="btn btn-sm btn-danger delete-btn" data-id="${item.id}">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        <button class="btn btn-sm btn-info password-btn" data-id="${item.id}">
                            <i class="fas fa-key"></i>
                        </button>` // Customize this as per your action button requirements
                        });
                    });
                        return newData;
                    }
                },
                "columns": [
                  { "data": "username" },
                  { "data": "email" },
                  { "data": "role" },
                  { "data": "status" },
                  { "data": "created_date" },
                  { "data": "action" }
                
                ]
            });
        });

        $('#createUserModal').on('hidden.bs.modal', function () {
          // Clear all input fields
          $(this).find('form').trigger('reset');
  
          // Remove validation error messages
          $(this).find('.error').text('');
        });

        $('#userModal').on('hidden.bs.modal', function () {
          // Remove validation error messages
          // Clear error messages
          $('#editUserForm').find('.error').text('');
           // Remove is-invalid class from all form fields
          $('#editUserForm').find('.form-control').removeClass('is-invalid');
        });

        // Function to fetch session data based on session_id
        $(document).on('click', '.edit-btn', function() {
          
          var userId = $(this).data('id');
          var username = $(this).data('username');
          var email = $(this).data('email');
          var role = $(this).data('role');
          var status = $(this).data('status');
  
          // Set form field values
          $('#editUserForm #userId').val(userId);
          $('#editUserForm #username').val(username);
          $('#editUserForm #email').val(email);
          $('#editUserForm #role').val(role);
          $('#editUserForm #status').val(status);
  
          // Show the modal
          $('#userModal').modal('show');
      });

      $("#editUserForm").validate({
        rules: {
            username: {
                required: true,
                minlength: 3
            },
            email: {
                required: true,
                email: true
            },
            role: {
                required: true
            },
            status: {
                required: true
            }
        },
        messages: {
            username: {
                required: "Please enter a username",
                minlength: "Your username must consist of at least 3 characters"
            },
            email: {
                required: "Please enter an email address",
                email: "Please enter a valid email address"
            },
            role: {
                required: "Please select a role"
            },
            status: {
                required: "Please select a status"
            }
        },
        errorPlacement: function(error, element) {
          if (element.parent().hasClass('input-group')) {
              error.insertAfter(element.parent()); // handle Bootstrap input group
          } else if (element.hasClass('selectpicker')) {
              error.insertAfter(element.next('button')); // handle Bootstrap selectpicker
          } else {
              error.insertAfter(element); // default placement
          }
      },
      highlight: function(element, errorClass, validClass) {
          $(element).addClass('is-invalid');
      },
      unhighlight: function(element, errorClass, validClass) {
          $(element).removeClass('is-invalid');
          $(element).closest('.form-group').find('.error').html('');
      }
    });

    $('#saveUserDetails').on('click', function() {
        // Get form data
        if($("#editUserForm").valid()) {
          // Form is valid, proceed with form submission or AJAX call
          var formData = {
            userId: $('#editUserForm #userId').val(),
            username: $('#editUserForm #username').val(),
            email: $('#editUserForm #email').val(),
            role: $('#editUserForm #role').val(),
            status: $('#editUserForm #status').val() === 'Active'
          };

        // Perform AJAX request to save the updated user details
          $.ajax({
              url: '{% url 'register' %}', // Update with your actual endpoint
              type: 'POST',
              data: formData,
              success: function(response) {
                if (response.status === 200) {
                  alert("User details updated successfully !")
                  // Handle success response
                  $('#userModal').modal('hide');
                  $('#userDetails').DataTable().ajax.reload();
                }
                else{
                  var errors =response.errors
                  console.log(errors)
                  for (const field in errors) {
                    console.log(errors[field][0])
                    
                    $('#'+field+'_e_error').text(errors[field][0]);
                  }
                }
                // Reload DataTable data
              },
              error: function(error) {
                  console.log(error.responseText)
                  // Handle error response
                  if (error.responseText.includes("UNIQUE constraint failed: Dashboard_user.username")) {
                    $('#username_e_error').text('Username already exists')
                    
                  } else if(error.responseText.includes("UNIQUE constraint failed: Dashboard_user.email")) {
                    
                    $('#email_e_error').text('Email already exists')
                  
                  }
                  else{
                    alert('Error updating user details');
                  }
              }
          });
        }
    });
    
    $(document).on('click', '#createUser', function() {
        $('#createUserModal').modal('show');  
          $('#createAccount').on('click', function() {
            var formData = {
              username: $('#createUserForm #username_c').val(),
              email: $('#createUserForm #email_c').val(),
              role: $('#createUserForm #role_c').val(),
              password1: $('#createUserForm #password1_c').val(),
              password2: $('#createUserForm #password2_c').val(),
          };

            $.ajax({
              url: '{% url 'register' %}', // Endpoint for deleting user
              type: 'POST',
              data: formData,
              success: function(response) {
                  if (response.status === 200) {
                      $('#createUserModal').modal('hide'); // Hide the modal
                      alert('User Created successfully');
                      location.reload();
                  } else {
                      var errors =response.errors
                      console.log(errors)
                      $('.error').text('');
                      for (const field in errors) {
                        console.log(errors[field][0])
                        
                        $('#'+field+'_error').text(errors[field][0]);
                    }
                      
                  }
              },
              error: function(xhr, status, error) {
                  
              }
          });
        });
    })
    
    $(document).on('click', '.delete-btn', function() {
      
      userIdToDelete = $(this).data('id'); // Get the item ID from the data attribute
      $('#deleteConfirmationModal').modal('show');

      // Function to handle the delete confirmation
          $('#confirmDeleteButton').on('click', function() {
            if (userIdToDelete) {
                $.ajax({
                    url: '{% url 'delete_user' %}', // Endpoint for deleting user
                    type: 'POST',
                    data: {
                        userId: userIdToDelete,
                        csrfmiddlewaretoken: '{{ csrf_token }}' // Include the CSRF token
                    },
                    success: function(response) {
                        if (response.status === 200) {
                            $('#deleteConfirmationModal').modal('hide'); // Hide the modal
                            alert('User deleted successfully');
                            // Optionally, refresh the table or perform other actions
                            location.reload();
                        } else {
                            alert('Failed to delete user');
                        }
                    },
                    error: function(xhr, status, error) {
                        alert('An error occurred while deleting the user');
                        console.error('Error:', error);
                        console.error('Status:', status);
                        console.error('Response:', xhr.responseText);
                    }
                });
            }
        });
    });


    $("#resetPasswordForm").validate({
      rules: {
          password: {
              required: true,
              minlength: 8
          },
          confirm_password: {
              required: true,
              minlength: 8,
              equalTo: "#password" // Ensure confirm_password matches password
          }
      },
      messages: {
          password: {
              required: "Please enter a password",
              minlength: "Your password must consist of at least 8 characters"
          },
          confirm_password: {
              required: "Please enter an confirm password",
              minlength: "Your password must consist of at least 8 characters",
              equalTo: "Passwords do not match"
          }
      },
      errorPlacement: function(error, element) {
        if (element.parent().hasClass('input-group')) {
            error.insertAfter(element.parent()); // handle Bootstrap input group
        } else if (element.hasClass('selectpicker')) {
            error.insertAfter(element.next('button')); // handle Bootstrap selectpicker
        } else {
            error.insertAfter(element); // default placement
        }
    },
    highlight: function(element, errorClass, validClass) {
        $(element).addClass('is-invalid');
    },
    unhighlight: function(element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
        $(element).closest('.form-group').find('.error').html('');
    }
  });

  $('#ResetPasswordButton').on('click', function() {
    // Get form data
    if($("#resetPasswordForm").valid()) {
      
      let password = $('#password').val();
      let confirmPassword = $('#confirm_password').val();

      $.ajax({
        url: '{% url 'reset_password' %}', // Update with your actual endpoint
        type: 'POST',
        data: {
            user_id: userId,
            password: password,
            confirm_password: confirmPassword
        },
        success: function(response) {
            if (response.success) {
                // Handle success
                alert('Password reset successfully');
                $('#resetPasswordModal').modal('hide');
            } else {
                // Handle error
                alert('Error resetting password: ' + response.message);
            }
        },
        error: function(error) {
            // Handle AJAX error
            alert('Error resetting password');
        }
    });

    }
  });
  
  $('#resetPasswordModal').on('hidden.bs.modal', function () {
    // Remove validation error messages
    // Clear error messages
    $('#resetPasswordForm').find('.error').text('');
    $(this).find('form').trigger('reset');
     // Remove is-invalid class from all form fields
    $('#resetPasswordForm').find('.form-control').removeClass('is-invalid');
  });

  $(document).on('click', '.password-btn', function() {
      userId = $(this).data('id'); // Get the item ID from the data attribute
      $('#resetPasswordModal').modal('show');
  });
  </script>
  {% endblock javascripts %}
</div>
