<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="canonical" href="https://appseed.us/admin-dashboards/django-dashboard-argon">
  
  <title>
    Biological-E Dashboard - {% block title %}Admin Panel {% endblock %}
  </title>

  <!-- Favicon - loaded as static -->
  <link rel="icon" href="/static/assets/img/brand/favicon.png" type="image/png">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="/static/assets/vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" type="text/css">
  <!-- Page plugins -->
  <!-- Argon CSS -->
  <link rel="stylesheet" href="/static/assets/css/argon.css?v=1.2.0" type="text/css">
  
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css"/>
<!-- Buttons CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<!-- Add these in the <head> section of your HTML -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- Buttons JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.flash.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>
<!-- PDFMake JS -->
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
  <style>
    .dt-button {
      background-color: #007bff !important; /* Change to your desired color */
      color: white !important; /* Change to your desired text color */
      border: none; /* Remove the border */
      padding: 10px 20px; /* Adjust padding as needed */
      border-radius: 4px; /* Adjust border-radius as needed */
      margin-right: 5px; /* Add margin between buttons */
  }

  .dt-button:hover {
      background-color: #0056b3 !important; /* Change to a darker shade on hover */
      color: white !important; /* Ensure text color stays the same on hover */
  }

  .buttons-csv {
    background-color: #28a745 !important; /* Green background */
    color: white !important;
  }

  .buttons-excel {
    background-color: #ffc107 !important; /* Yellow background */
    color: black !important;
  }

  .buttons-pdf {
    background-color: #dc3545 !important; /* Red background */
    color: white !important;
  }
  .custom-card-height {
    height: 110px; /* Set your desired height here */
  }
  .total-value {
    text-align: center;
    vertical-align: middle;
  }
  
  </style>
  <!-- Specific CSS goes HERE -->
  {% block stylesheets %}
  
  {% endblock stylesheets %}

</head>

<body class="">

  {% include "includes/sidenav.html" %}

  <div class="main-content" id="panel">

    {% include "includes/navigation.html" %}

    <input type="hidden" id="current_date" value="{{ dates.today }}"> 
    <input type="hidden" id="previous_date" value="{{ dates.seven_days_ago }}">


    <!--Session Details Modal Start-->
<div class="modal fade" id="sessionModal" tabindex="-1" aria-labelledby="sessionModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered  modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger"  id="sessionModalLabel">Session Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table id="sessionDetailsTable" class="table table-bordered"style="width: 100%">
          <div class="row">
            <div class="col-md-2"><b class="text text-primary">Session Id:</b></div>
            <div class="col-md-5" id="modalSessionId"></div>
            <div class="col-md-2"><b class="text text-primary">IP Address:</b></div>
            <div class="col-md-3" id="modalIpAddress"></div>
        </div>
          <hr>
          <thead>
            <tr>
              <th><b>Query</b></th>
              <th><b>Response</b></th>
              <th><b>Total Tokens Used</b></th>
              <th><b>Total Token Cost $</b></th>
            </tr>
          </thead>
          <tbody id="sessionDetailsBody">
            <!-- Data will be populated dynamically -->
          </tbody>
          <tfoot>
            <tr>
                <th colspan="2"><b>Total:</b></th>
                <th id="totalTokensUsed"></th>
                <th id="totalTokensCost"></th>
            </tr>
        </tfoot>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!--Session Details Modal Ends-->
    {% block content %}

    {% endblock content %}

  </div>

  {% include "includes/scripts.html" %}

  
  <!-- Specific JS goes HERE --> 
  {% block javascripts %}{% endblock javascripts %}
  <script>

    var table=$('#chatHistory').DataTable({
      "lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "All"] ],
      "processing": true,
      "serverSide": true,
      buttons: [
          
          {
              extend: 'excelHtml5',
              text: 'Export Excel',
              exportOptions: {
                columns: ':not(:last-child)' // Exclude the last column (Action column)
            }
          },
          {
            extend: 'pdfHtml5',
            text: 'Export PDF',
            exportOptions: {
              columns: ':not(:last-child)' // Exclude the last column (Action column)
          }
        }
      ],
        "ajax": {
                "url": "{% url 'chatHistory' %}",
                "type": "POST",
                "data": function(d) {
                    // Add date filter parameters to the AJAX request data
                    d.fromDate = $('#from-date').val();
                    d.toDate = $('#to-date').val();
                    d.search = $('.dataTables_filter input').val();
                  return d; 
                },
                "dataSrc": function(json) {
                    // Modify the JSON data to handle nested rows for each response
                    if (json && json.data && json.data.length > 0) {
                      console.log(json)
                      var currentDate=$('#current_date').val()
                      
                      var toDate=$('#to-date').val()

                      if(toDate ==='' || toDate ==currentDate){
                        $('#daily_unique_users').text(json.unique_ips_today)
                      }
                      
                      $('#monthly_unique_users').text(json.monthly_unique_ips)
                      
                      $('#frequecy_of_use').text(json.frequency_of_use)
                      $('#average_tokens_per_ip').text(json.average_tokens_per_ip)
                      $('#average_token_cost_per_user').text(json.average_token_cost_per_user)
                      $('#user_retention_rate').text(json.user_retention_rate)

                      $('#total_sessions').text(json.recordsTotal)
                      $('#average_tokens_per_session').text(json.average_tokens_per_session)
                      $('#average_sessions_per_ip').text(json.average_sessions_per_ip)

                      return json.data;
                  } else {
                    $('#daily_unique_users').text(json.unique_ips_today)
                    $('#monthly_unique_users').text(json.unique_ips_current_month)
                    $('#frequecy_of_use').text(json.frequency_of_use)
                    $('#average_tokens_per_ip').text(json.average_tokens_per_ip)
                    $('#average_token_cost_per_user').text(json.average_token_cost_per_user)
                    $('#user_retention_rate').text(json.user_retention_rate)
                    $('#total_sessions').text(json.recordsTotal)
                    $('#average_tokens_per_session').text(json.average_tokens_per_session)
                    $('#average_sessions_per_ip').text(json.average_sessions_per_ip)
                      // Show a message when no records are found
                      $('#chatHistory tbody').html('<tr><td colspan="8" class="text-center">No records found</td></tr>');
                      return [];
                  }
                }
            },
            "columns": [
                { "data": "date" },
                { "data": "time" },
                {
                    "data": "session_id",
                    "render": function(data, type, row) {
                        return `<a href="#" class="session-id-btn"  data-session_id="${data}" data-ip_address="${row.ip_address}" data-tokens="${row.total_token_used}" data-cost="${row.total_token_cost}">${data}</a>`;
                    },
                    
                },
                { "data": "ip_address" },
                { "data": "total_token_used" },
                { "data": "total_token_cost"},
                {
                    "data": "session_id",
                    "render": function(data, type, row) {
                        return `<a href="#" class="btn btn-primary session-id-btn" data-session_id="${data}" data-ip_address="${row.ip_address}" data-tokens="${row.total_token_used}" data-cost="${row.total_token_cost}"><i class="fas fa-eye"></i></a>`;
                    }
                }
            ],
            columnDefs: [
              { targets: [4, 5], className: 'text-center' } // Targets columns 4 (Tokens Used) and 5 (Tokens Cost)
            ],
            "searching": true,
            "paging": true,
            "regex" : true,
            "lengthChange": true,
            "ordering": false,
            "info": true,
            "autoWidth": true,
            dom: 'Blfrtip',
            "footerCallback": function (row, data, start, end, display) {                
              //Get data here 
              var api = this.api();

              // Total for tokens_used column
              var tokensUsedTotal = api.column(4, {page: 'current'}).data().reduce(function(acc, val) {
                  return acc + parseFloat(val);
              }, 0);
  
              // Total for tokens_cost column
              var tokensCostTotal = api.column(5, {page: 'current'}).data().reduce(function(acc, val) {
                  return acc + parseFloat(val);
              }, 0);
  
              document.getElementById('totalTokensUsage').innerText = tokensUsedTotal;
              document.getElementById('totalTokensAmount').innerText = tokensCostTotal.toFixed(4) + ' $';
            }
        });
    

    $('#chatHistory').on('click', '.session-id-btn', function() {
      // Get session_id from clicked button
        let session_id = $(this).data('session_id'); // Get session_id from clicked button
        let ip_address = $(this).data('ip_address'); // Get ip_address from clicked button
        let cost = $(this).data('cost'); // Get cost from clicked button
        let tokens = $(this).data('tokens'); // Get tokens from clicked button

        let sessionData = getSessionData(session_id,ip_address,tokens,cost);
    });

    // Function to fetch session data based on session_id
    function getSessionData(session_id,ip_address,tokens,cost) {
      let sessionData = [];
      var settings = {
          "url": "{% url 'sessionHistory' %}",
          "method": "POST",
          "timeout": 0,
          "headers": {
            "Authorization": "token 8baa4ffcbc8a8cd3eef5f4ba36686b67a48d4465",
            "Content-Type": "application/json"
          },
          "data": JSON.stringify({
            "session_id": session_id
          }),
        };
        
        $.ajax(settings)
          .done(function (response) {

              $('#sessionDetailsBody').empty();
              let responses = response[0].responses;
              // Populate modal content with session details
              
              
              responses.forEach(function(data) {
                  
                  if (data.response.includes('<table')) {
                    responseContent = fixUnclosedTable(data.response);
                  }
                  else{
                    responseContent =data.response
                  }
                  let row = '<tr>' +
                    '<td style="width: 30%; word-wrap: break-word; white-space: normal;">' + data.query + '</td>' +
                    '<td style="width: 50%; white-space: normal;">' + responseContent + 
                        ' | <b>Source</b> : ' +
                        '<a href="https://biologicale.blob.core.windows.net/beesfiles/' + data.source + '" target="_blank">' + 
                        data.source + 
                        '</a>' +
                    '</td>' +
                    '<td style="width: 20%; text-align: center;">' + data.token_used + '</td>' +
                    '<td style="width: 20%; text-align: center;">' + data.total_cost.toFixed(4) + '</td>' +
                    '</tr>';
                    
                  $('#sessionDetailsBody').append(row);
              });

              // Set the session_id and IP address in the modal
              $('#modalSessionId').text(session_id);
              $('#modalIpAddress').text(ip_address);
              
              $('#totalTokensUsed').text(tokens).css('text-align', 'center');
              $('#totalTokensCost').text(cost +' $').css('text-align', 'center');
              // Open modal
              $('#sessionModal').modal('show');
          })
          .fail(function (jqXHR, textStatus, errorThrown) {
              console.error("Error fetching session data:", textStatus, errorThrown);
          });
      }
    
      
    $(document).ready(function() {
      // Datepicker initialization
      $(".datepicker").datepicker({
        dateFormat: 'yy-mm-dd',
        defaultDate: new Date(), 
        maxDate: 0,
      });

      
      // Filter button click event
      $('#filter').click(function() {
        if ($('#from-date').val() === '' && $('#to-date').val() === '') {
          alert('Please select both From and To dates.');
          return false; // Prevent form submission or further processing
        }
        else if ($('#from-date').val() === ''){
          alert('Please select both From date.');
        }
        else if ($('#to-date').val() === ''){
          alert('Please select To date.');
        }
        else{
          var fromDate = $('#from-date').val();
          var toDate = $('#to-date').val();
          
            $('#chatHistory').DataTable().ajax.url('{% url 'chatHistory' %}?fromDate=' + fromDate + '&toDate=' + toDate).load();
          }
      });

      $('#resetBtn').click(function() {
       
          $('.datepicker').val('');
          var currentDate=$('#current_date').val()
          var previousDate=$('#previous_date').val()

          // Set the datepicker values
          $('#from-date').datepicker('setDate', previousDate);
          $('#to-date').datepicker('setDate', currentDate);
            // Clear datepicker value
          var fromDate = $('#from-date').val();
          var toDate = $('#to-date').val();
          // Redraw the DataTable
          $('#chatHistory').DataTable().ajax.url('{% url 'chatHistory' %}?fromDate=' + fromDate + '&toDate=' + toDate).load();
      }); 
      
    })

    function fixUnclosedTable(htmlContent) {
      // Count occurrences of <table> and </table>
      let openTableCount = (htmlContent.match(/<table/g) || []).length;
      let closeTableCount = (htmlContent.match(/<\/table>/g) || []).length;
  
      // If the table is not properly closed, append </table> tag
      if (openTableCount > closeTableCount) {
          htmlContent += '</table>';
      }
  
      return htmlContent;
    }
  </script>
  <script src="/static/assets/js/argon.js?v=1.2.0"></script>
</body>

</html>
